<!doctype html>
<html lang="en" style="height:100%;">
<head>
  <title>{{ sitename }}</title>
</head>
<body style="height:100%;margin:0;padding:0;">
<div id="loadScreen">
  <style>
    #loadScreen {
      height:100%;
      padding:10%;
      text-align:center;
      background-color:{{ bgcolor }};
      color:{{ fgcolor }};
    }
    #loadScreen svg {
      width:100%;
      max-height:60%;
      height:auto;
    }
  </style>
  <h1>{{ welcome }}</h1>
  {{ logo|raw }}
  <p id="index">... loading ...</p>
</div>
<img id="image" src="#" alt="image" style="position: absolute; width: 100%; height: 100%; left: 0; top: 0; visibility: hidden"/>
<div id="video" style="position: absolute; display: none; width: 100%; height: 100%; left: 0; top: 0; background-color: #000;">&nbsp;</div>
<div id="html" style="position: absolute; display: none; width: 100%; height: 100%; left: 0; top: 0;">&nbsp;</div>

<script type="text/javascript">
  window.WeinreServerURL = 'https://weinre.signageos.io';
</script>
<script type="text/javascript" src="https://weinre.signageos.io/target/target-script-min.js"></script>
<script type="application/ecmascript">
  window.addEventListener('sos.loaded', async function () {

    String.prototype.hashCode = function(){
      let hash = 0, i, char;
      if (this.length === 0) return hash;
      for (i = 0; i < this.length; i++) {
        char = this.charCodeAt(i);
        hash = ((hash<<5)-hash)+char;
        // Convert to 32bit integer.
        hash = hash & hash;
      }
      return hash;
    };

    const myLog = function(info) {
      if (sos.config.debug) {
        console.log(info);
        sos.command.dispatch({
          type: 'DeviceLog.Debug',
          payload: info
        });
      }
    };

    const myError = function(error) {
      console.error(error);
      sos.command.dispatch({
        type: 'DeviceLog.Error',
        payload: error
      });
    };

    const updateDynamicContent = function(item, url) {
      setTimeout(function () {
        fetch(url, {
          headers: sos.config.httpHeader
        })
          .then(response => response.json())
          .then(response => schedule.content = response)
          .then(response => updateDynamicContent(item, url));
      }, 60000);
    };

    const reloadSchedule = async function() {
      myLog('Reloading schedule');
      await sos.fileSystem.downloadFile(
        { storageUnit: internalStorageUnit, filePath: 'schedule.json' },
        sos.config.api + '?mode=schedule&deviceId=' + sos.config.deviceId,
        sos.config.httpHeader
      );
    };

    const loadSchedule = async function() {
      if (await sos.fileSystem.exists({ storageUnit: internalStorageUnit, filePath: 'schedule.json' })) {
        // This is fine.
      }
      else {
        await reloadSchedule();
      }
      myLog('Loading schedule from cache');
      schedule = JSON.parse(await sos.fileSystem.readFile({ storageUnit: internalStorageUnit, filePath: 'schedule.json' }));
      myLog(schedule);
      await sos.offline.cache.listFiles()
        .then(function (fileUids) {
          existingFileUids = fileUids;
          myLog("Loaded files " + fileUids);
        })
        .catch(function (error) {
          myError(error);
        });
    };

    const loadAssets = async function() {
      if (sos.config.reloadassets && existingFileUids.includes('styles.css')) {
        await sos.offline.cache.deleteFile('styles.css');
      }
      await sos.offline.addFilesSync([
        {
          uri: "https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js",
          uid: "jquery-2.2.4.min.js",
          type: sos.offline.types.javascript,
          flags: [sos.offline.flags.append(document.body)],
        },
        {
          "uri": sos.config.api + '?mode=load&type=css&deviceId=' + sos.config.deviceId,
          "uid": "styles.css",
          "type": sos.offline.types.css,
          "headers": sos.config.httpHeader,
          "flags": [sos.offline.flags.append(document.head)]
        }
      ]);
      for (const font in sos.config.fonts) {
        if (sos.config.fonts.hasOwnProperty(font)) {
          sos.config.fonts[font]['append'] = document.head;
          myLog("Loading font");
          myLog(sos.config.fonts[font]);
          await sos.offline.addFont(sos.config.fonts[font])
            .catch(function (error) {
              myError(error);
            });
          myLog("Received font " + sos.config.fonts[font]['uid']);
        }
      }
    };

    const loadContent = async function() {
      if (schedule === undefined || schedule[0] === undefined) {
        // We haven't got any schedules yet, so let's quit.
        contentElement.innerHTML = 'No content available at this time.';
        myError('No content in the schedule yet.');
        return;
      }

      for (const item in schedule) {
        if (schedule.hasOwnProperty(item)) {
          schedule[item].uid = schedule[item].entity.type + '_' + schedule[item].entity.id;
          if (schedule[item].type !== 'html') {
            if (sos.config.reloadcontent && existingFileUids.includes(schedule[item].uid)) {
              await sos.offline.cache.deleteFile(schedule[item].uid);
            }
            schedule[item].uri = sos.config.api + '?mode=load&type=' + schedule[item].type + '&deviceId=' + sos.config.deviceId + '&entityType=' + schedule[item].entity.type + '&entityId=' + schedule[item].entity.id;
            myLog("Loading item");
            myLog("Uri " + schedule[item].uri);
            const {filePath} = await sos.offline.cache.loadOrSaveFile(schedule[item].uid, schedule[item].uri, sos.config.httpHeader)
              .catch(function (error) {
                myError(error);
              });
            myLog("Received " + filePath);
            schedule[item].filePath = filePath;
            if (schedule[item].type === 'video') {
              schedule[item].arguments = [schedule[item].filePath, 0, 0, document.body.offsetWidth, document.body.offsetHeight];
            }
          }
          else {
            let result;
            let html = schedule[item].content;
            const reg = new RegExp("=\"(.+?)\"", "gi");
            while (result = reg.exec(html)) {
              if (result[1].indexOf("/sites/") === 0) {
                let path = result[1].replace(" 1x", "");
                if (path.indexOf("filesystem:") < 0 && path.indexOf("content:") < 0 && !(path in content)) {
                  let uid = "content-" + path.hashCode();
                  if (sos.config.reloadcontent && existingFileUids.includes(uid)) {
                    myLog("Deleting " + uid);
                    await sos.offline.cache.deleteFile(uid);
                  }
                  myLog("Loading " + path);
                  let uri = sos.config.api + '?mode=load&type=content&deviceId=' + sos.config.deviceId + '&contentPath=' + btoa(path.replace("&amp;", "&"));
                  myLog("Uri " + uri);
                  const {filePath} = await sos.offline.cache.loadOrSaveFile(uid, uri, sos.config.httpHeader)
                    .catch(function (error) {
                      myError(error);
                    });
                  content[path] = filePath;
                  myLog("Received " + content[path]);
                }
              }
            }
            for (const path in content) {
              // We do not use regex with global option here, because escaping would be a potential nightmare.
              while (html.indexOf(path) > 0) {
                html = html.replace(path, content[path]);
              }
            }
            schedule[item].content = html;
          }
          if (schedule[item].dynamic) {
            // TODO: Cancel updates when refreshing schedule.
            updateDynamicContent(item, sos.config.api + '?mode=load&type=' + schedule[item].type + '&deviceId=' + sos.config.deviceId + '&entityType=' + schedule[item].entity.type + '&entityId=' + schedule[item].entity.id);
          }
        }
      }

      await sos.offline.cache.listFiles()
        .then(function (fileUids) {
          myLog("Loaded files " + fileUids);
        })
        .catch(function (error) {
          myError(error);
        });
    };

    const playSchedule = async function() {
      contentElement.innerHTML = '';
      introElement.style.display = 'none';

      let previousIndex;
      let currentIndex = 0;
      while (appletActive) {
        const previous = typeof previousIndex === 'undefined' ? undefined : schedule[previousIndex];
        const current = schedule[currentIndex];

        // play current
        if (current.type === 'video') {
          videoElement.style.display = 'block';
          await sos.video.play(...current.arguments);
        }
        else if (current.type === 'image') {
          imageElement.src = current.filePath;
          imageElement.style.visibility = 'visible';
        }
        else if (current.type === 'html') {
          htmlElement.innerHTML = current.content;
          htmlElement.style.display = 'block';
        }
        else {
          myError('Unrecognized item type: ' + current.type);
        }
        // stop previous
        if (previous) {
          if (previous.type === 'video') {
            if (current.type !== 'video') {
              videoElement.style.display = 'none';
            }
            await sos.video.stop(...previous.arguments);
          }
          else if (previous.type === 'image' && current.type !== 'image') {
            imageElement.style.visibility = 'hidden';
          }
          else if (previous.type === 'html' && current.type !== 'html') {
            htmlElement.style.display = 'none';
          }
        }
        if (schedule.length === 1) {
          return;
        }

        // prepare next
        let endedPromise;
        const nextIndex = (currentIndex + 1) % schedule.length;
        if (current.type === 'video') {
          endedPromise = sos.video.onceEnded(...current.arguments);
          const next = schedule[nextIndex];
          if (next.type === 'video') {
            await sos.video.prepare(...next.arguments);
          }
        }
        else if (current.type === 'image') {
          endedPromise = new Promise((resolve) => setTimeout(resolve, current.duration * 1000));
        }
        else if (current.type === 'html') {
          endedPromise = new Promise((resolve) => setTimeout(resolve, current.duration * 1000));
        }
        else {
          myError('Unrecognized item type: ' + current.type);
          endedPromise = Promise.resolve();
        }
        await endedPromise;
        previousIndex = currentIndex;
        currentIndex = nextIndex;
      }
    };

    const runSchedule = async function(forceReload) {
      appletActive = false;
      if (forceReload) {
        await reloadSchedule();
      }
      await loadSchedule();
      await loadAssets();
      await loadContent();
      appletActive = true;
      playSchedule()
        .then(response => myLog('Play schedule finished'));
    }

    const introElement = document.getElementById('loadScreen');
    const contentElement = document.getElementById('index');
    const imageElement = document.getElementById('image');
    const videoElement = document.getElementById('video');
    const htmlElement = document.getElementById('html');
    contentElement.innerHTML = 'sOS is loaded';
    await sos.onReady();
    contentElement.innerHTML = 'sOS is ready';
    myLog('sOS is ready');
    myLog(sos.config);
    const storageUnits = await sos.fileSystem.listStorageUnits();
    const internalStorageUnit = storageUnits.find((storageUnit) => !storageUnit.removable);
    let content = {};
    let existingFileUids = [];
    let schedule = {};
    let appletActive = true;
    runSchedule(false)
      .then(response => myLog('Schedule loaded and play started'));

    sos.command.onCommand((commandEvent) => {
      myLog('Received command');
      switch (commandEvent.command.type) {
        case 'UpdateSchedule':
          myLog('Command: Update Schedule');
          runSchedule(true);
          break;
        case 'UpdateConfig':
          myLog('Command: Update Config');
          myLog(commandEvent.command.payload);
          sos.config = commandEvent.command.payload;
          runSchedule(false);
          break;
        default:
          myError('Unknown command');
          myError(commandEvent);
      }
    });
  });
</script>
</body>
</html>
